[user]
    email = 33834216+cblessing24@users.noreply.github.com
    name = Christoph Blessing
	signingkey = 5A97DB0A9832810B
[core]
    autocrlf = input
    editor = nvim
[credential]
	helper = cache
[pull]
	rebase = false
[init]
	defaultBranch = main
[commit]
	gpgSign = true
