dotfiles/nvim/.config/nvim/plugin
dotfiles/nvim/.config/nvim/.netrwhist

dotfiles/systemd/.config/systemd/user/*.wants/
dotfiles/systemd/.config/systemd/user/*.socket

dotfiles/zsh/.config/zsh/.chpwd-recent-dirs
dotfiles/zsh/.config/zsh/.zcompdump
dotfiles/gh/.config/gh/hosts.yml
