[Unit]
Description=Lock screen on sleep
Before=sleep.target

[Service]
Type=simple
ExecStart=/home/chris/scripts/lock.sh

[Install]
WantedBy=sleep.target
