[Unit]
Description=Sync mail.

[Service]
Type=oneshot
ExecStart=/usr/bin/mbsync -V --config /home/chris/.config/mbsync/mbsyncrc --all

[Install]
WantedBy=default.target
